<div class="o-inicio-container">
    <div class="o-buttons-container-all">
        <h3 class="o-tittle-inicio">Ingreso de Datos</h3>
        <div class="o-buttons-btns">
            <button class="o-btns-inicio">Usuario</button>
            <button class="o-btns-inicio">Mascota</button>
            <button class="o-btns-inicio">Colaborador</button>
        </div>
    </div>
    <div class="o-image-inicio">
        <img src="../../../assets/5508681.png" class="o-img-inicio" alt="Imagen Veterinaria">
    </div>
</div>
