<div class="o-form-usuario">
    <form class="o-form-usuario">
        <div class="o-form-group">
            <label class="o-label-usuario">Nombre :</label>
            <input class="o-input-usuario">
        </div>
        <div class="o-form-group">
            <label class="o-label-usuario">Apellido :</label>
            <input class="o-input-usuario">
        </div>
        <div class="o-form-group">
            <label class="o-label-usuario">Tipo de Documento :</label>
            <select name="tipoDoc" id="documentoTipo" class="o-input-usuario">
                <option value="CC">CC</option>
                <option value="TI">TI</option>
                <option value="NIP">NIP</option>
                <option value="CE">CE</option>
            </select>
        </div>
        <div class="o-form-group">
            <label class="o-label-usuario">Numero de Documento :</label>
            <input class="o-input-usuario">
        </div>
        <div class="o-form-group">
            <label class="o-label-usuario">Estado :</label>
            <select name="stateUsuer" id="userState" class="o-input-usuario">
                <option value="Activo">Activo</option>
                <option value="Inactivo">Inactivo</option>
            </select>
        </div>
        <div class="o-form-group">
            <label class="o-label-usuario">Sexo :</label>
            <select name="genderUser" id="usserGender" class="o-input-usuario">
                <option value="Hombre">Hombre</option>
                <option value="Mujer">Mujer</option>
                <option value="No define">No define</option>
            </select>
        </div>
        <div class="o-form-button-container">
            <button class="o-summit-user">Ingresar</button>
        </div>
    </form>
</div>