<div class="o-div-navabar">
    <div class="o-titles">
        <div class="o-name-app">
            <h1>Veterinaria Angular</h1> 
        </div>
        <div class="o-buttons links">
            <h4><button class="o-button-navbar"  routerLink="inicio" routerLinkActive="o-button-navbar-selected" >Inicio</button></h4>
            <h4><button class="o-button-navbar" routerLink="revisar-datos" routerLinkActive="o-button-navbar-selected" >Revisar Datos</button></h4>
            <h4><button class="o-button-navbar" routerLink="revisar-historiales" routerLinkActive="o-button-navbar-selected" >Revisar Historiales</button></h4>
        </div>
    </div>
</div>