<div class="o-container-details">
    <div class="o-header-details">
        <div class="o-titles-details">
            <div class="o-titles-details-first">
                <h3 class="o-text-details-titles">Mascota : Julieta</h3>
                <h3 class="o-text-details-titles">Raza: Corgi</h3>
            </div>
            <div class="o-titles-details-second">
                <h3 class="o-text-details-titles">Usuario : Alguien Otro</h3>
            </div>
        </div>
        <div class="o-container-button-details">
            <button class="o-btn-details-new">Nueva Entrada</button>
        </div>
    </div>

    <div>
        <div class="o-cronologic-title">
            <h3>Cronologia</h3>
        </div>
        <div class="o-container-cards">
            <app-detalles-card></app-detalles-card>
            <app-detalles-card></app-detalles-card>
            <app-detalles-card></app-detalles-card>
        </div>
    </div>
</div>
