<div class="o-form-mascota">
    <form class="o-form-mascota">
        <div class="o-form-group">
            <label class="o-label-mascota">Nombre :</label>
            <input class="o-input-mascota">
        </div>
        <div class="o-form-group">
            <label class="o-label-mascota">Raza :</label>
            <input class="o-input-mascota">
        </div>
        <div class="o-form-group">
            <label class="o-label-mascota">Usuario :</label>
            <select name="tipoDoc" id="documentoTipo" class="o-input-mascota">
                <option value="datosUsuario">datosUsuario</option>
            </select>
        </div>
        <div class="o-form-group">
            <label class="o-label-mascota">Años :</label>
            <input class="o-input-mascota">
        </div>
        <div class="o-form-group">
            <label class="o-label-mascota">Sexo :</label>
            <select name="sexo" id="sexoMascota" class="o-input-mascota">
                <option value="Macho">Macho</option>
                <option value="Hembra">Hembra</option>
            </select>
        </div>
        <div class="o-form-button-container">
            <button class="o-summit-mascota">Ingresar</button>
        </div>
    </form>
</div>
