<div class="o-container-visualizar-detalles">
    <div class="o-header-visualizar-detalles">
        <div class="o-titles-visualizar-detalles">
            <div class="o-titles-visualizar-detalles-first">
                <h3 class="o-text-visualizar-detalles-titles">Mascota : Julieta</h3>
                <h3 class="o-text-visualizar-detalles-titles">Raza: Corgi</h3>
            </div>
            <div class="o-titles-visualizar-detalles-second">
                <h3 class="o-text-visualizar-detalles-titles">Usuario : Alguien Otro</h3>
            </div>
        </div>
        <div class="o-container-button-visualizar-detalles">
            <button class="o-btn-visualizar-detalles-new">Volver</button>
        </div>
    </div>

    <div>
        <form action="" class="o-form-visualizar-detalles">
            <div class="o-form-group">
                <label class="o-label-visualizar-detalles">Fecha y Hora :</label>
                <label class="o-input-visualizar-detalles">Datos Backend</label>
            </div>
            <div class="o-form-group">
                <label class="o-label-visualizar-detalles">Temperatura :</label>
                <label class="o-input-visualizar-detalles">Datos Backend</label>
            </div>
            <div class="o-form-group">
                <label class="o-label-visualizar-detalles">Peso :</label>
                <label class="o-input-visualizar-detalles">Datos Backend</label>
            </div>
            <div class="o-form-group">
                <label class="o-label-visualizar-detalles">Frecuencia Cardiaca :</label>
                <label class="o-input-visualizar-detalles">Datos Backend</label>
            </div>
            <div class="o-form-group">
                <label class="o-label-visualizar-detalles">Frecuencia Respiratoria :</label>
                <label class="o-input-visualizar-detalles">Datos Backend</label>
            </div>
            <div class="o-form-group">
                <label class="o-label-visualizar-detalles">Habitad :</label>
                <label class="o-input-visualizar-detalles">Datos Backend</label>
            </div>
            <div class="o-form-group">
                <label class="o-label-visualizar-detalles">Observación :</label>
                <textarea name="" id="" cols="50" rows="7" class="o-input-visualizar-detalles" placeholder="Datos Backend" ></textarea>
            </div>
        </form>
    </div>

</div>