<div class="container">
  <app-navbar></app-navbar>

  <!-- Aqui estan los componentes para generar las rutas -->
  <!-- <app-interfaz-inicio></app-interfaz-inicio> -->
  <!-- <app-detalles-historia></app-detalles-historia> -->
  <!-- <app-agregar-detalles-historia></app-agregar-detalles-historia> -->
  <!-- <app-modificar-detalles-historia></app-modificar-detalles-historia> -->
  <!-- <app-visualizar-detalles-historia></app-visualizar-detalles-historia> -->

  <router-outlet></router-outlet>

  <app-footer></app-footer>

</div>
  

