<div class="o-container-modificar-detalles">
    <div class="o-header-modificar-detalles">
        <div class="o-titles-modificar-detalles">
            <div class="o-titles-modificar-detalles-first">
                <h3 class="o-text-modificar-detalles-titles">Mascota : Julieta</h3>
                <h3 class="o-text-modificar-detalles-titles">Raza: Corgi</h3>
            </div>
            <div class="o-titles-modificar-detalles-second">
                <h3 class="o-text-modificar-detalles-titles">Usuario : Alguien Otro</h3>
            </div>
        </div>
        <div class="o-container-button-modificar-detalles">
            <button class="o-btn-modificar-detalles-new">Modificar</button>
            <button class="o-btn-modificar-detalles-new">Volver</button>
        </div>
    </div>

    <div>
        <form action="" class="o-form-modificar-detalles">
            <div class="o-form-group">
                <label class="o-label-modificar-detalles">Fecha y Hora :</label>
                <input class="o-input-modificar-detalles" placeholder="datos">
            </div>
            <div class="o-form-group">
                <label class="o-label-modificar-detalles">Temperatura :</label>
                <input class="o-input-modificar-detalles" placeholder="datos">
            </div>
            <div class="o-form-group">
                <label class="o-label-modificar-detalles">Peso :</label>
                <input class="o-input-modificar-detalles" placeholder="datos">
            </div>
            <div class="o-form-group">
                <label class="o-label-modificar-detalles">Frecuencia Cardiaca :</label>
                <input class="o-input-modificar-detalles" placeholder="datos">
            </div>
            <div class="o-form-group">
                <label class="o-label-modificar-detalles">Frecuencia Respiratoria :</label>
                <input class="o-input-modificar-detalles" placeholder="datos">
            </div>
            <div class="o-form-group">
                <label class="o-label-modificar-detalles">Habitad :</label>
                <input class="o-input-modificar-detalles" placeholder="datos">
            </div>
            <div class="o-form-group">
                <label class="o-label-modificar-detalles">Alimentación :</label>
                <input class="o-input-modificar-detalles" placeholder="datos">
            </div>
            <div class="o-form-group">
                <label class="o-label-modificar-detalles">Observación :</label>
                <textarea name="" id="" cols="50" rows="7" class="o-input-modificar-detalles" placeholder="datos" ></textarea>
            </div>
        </form>
    </div>

</div>
