<div class="o-form-colaborador">
    <form class="o-form-colaborador">
        <div class="o-form-group">
            <label class="o-label-colaborador">Nombre :</label>
            <input class="o-input-colaborador">
        </div>
        <div class="o-form-group">
            <label class="o-label-colaborador">Apellido :</label>
            <input class="o-input-colaborador">
        </div>
        <div class="o-form-group">
            <label class="o-label-colaborador">Tipo de Documento :</label>
            <select name="tipoDoc" id="documentoTipo" class="o-input-colaborador">
                <option value="CC">CC</option>
                <option value="TI">TI</option>
                <option value="NIP">NIP</option>
                <option value="CE">CE</option>
            </select>
        </div>
        <div class="o-form-group">
            <label class="o-label-colaborador">Numero de Documento :</label>
            <input class="o-input-colaborador">
        </div>
        <div class="o-form-group">
            <label class="o-label-colaborador">Cargo :</label>
            <input class="o-input-colaborador">
        </div>
        <div class="o-form-group">
            <label class="o-label-colaborador">Especialidad :</label>
            <input class="o-input-colaborador">
        </div>
        <div class="o-form-button-container">
            <button class="o-summit-colaborador">Ingresar</button>
        </div>
    </form>
</div>