<div class="o-container-agregar-detalles">
    <div class="o-header-agregar-detalles">
        <div class="o-titles-agregar-detalles">
            <div class="o-titles-agregar-detalles-first">
                <h3 class="o-text-agregar-detalles-titles">Mascota : Julieta</h3>
                <h3 class="o-text-agregar-detalles-titles">Raza: Corgi</h3>
            </div>
            <div class="o-titles-agregar-detalles-second">
                <h3 class="o-text-agregar-detalles-titles">Usuario : Alguien Otro</h3>
            </div>
        </div>
        <div class="o-container-button-agregar-detalles">
            <button class="o-btn-agregar-detalles-new">Agregar</button>
            <button class="o-btn-agregar-detalles-new">Volver</button>
        </div>
    </div>

    <div>
        <form action="" class="o-form-agregar-detalles">
            <div class="o-form-group">
                <label class="o-label-agregar-detalles">Fecha y Hora :</label>
                <input class="o-input-agregar-detalles">
            </div>
            <div class="o-form-group">
                <label class="o-label-agregar-detalles">Temperatura :</label>
                <input class="o-input-agregar-detalles">
            </div>
            <div class="o-form-group">
                <label class="o-label-agregar-detalles">Peso :</label>
                <input class="o-input-agregar-detalles">
            </div>
            <div class="o-form-group">
                <label class="o-label-agregar-detalles">Frecuencia Cardiaca :</label>
                <input class="o-input-agregar-detalles">
            </div>
            <div class="o-form-group">
                <label class="o-label-agregar-detalles">Frecuencia Respiratoria :</label>
                <input class="o-input-agregar-detalles">
            </div>
            <div class="o-form-group">
                <label class="o-label-agregar-detalles">Habitad :</label>
                <input class="o-input-agregar-detalles">
            </div>
            <div class="o-form-group">
                <label class="o-label-agregar-detalles">Observación :</label>
                <textarea name="" id="" cols="50" rows="7" class="o-input-agregar-detalles"></textarea>
            </div>
        </form>
    </div>

</div>
