<div class="o-card-details">
    <div>
        <div class="o-header-card-detalles">
            <h4>Fecha y Hora: 00/00/00 - 00:00:00</h4>
            <div class="o-buttons-card">
                <span><img src="../../../../assets/lapiz.svg" class="o-moda-card" alt="modificar"></span>
                <button class="o-button-ver-card">Ver</button>
                <span><img src="../../../../assets/compartimiento.svg" class="o-modb-card" alt="eliminar"></span>
            </div>
        </div>
        <div class="o-container-footer-card-details">
            <h4 class="o-descripcion-card">Descripción</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ac mi viverra, gravida neque eget, blandit erat.
                Maecenas maximus maximus augue, a efficitur nunc bibendum non. Maecenas in nibh convallis, sodales ante vel,
                consequat lacus. Aliquam non felis aliquam lorem accumsan sollicitudin quis a eros.
            </p>
        </div>
    </div>
</div>